@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	@apply bg-neutral-background;
}

html {
	scroll-behavior: smooth;
}

.player-wrapper {
	border-radius: 20px 20px 0 0;
}

.video-player {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: none;
	border-radius: 20px 20px 0 0;
	overflow: hidden;
}

.video-input {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	border-width: 2px;
	border-radius: 8px;
	border-style: dashed;
	border-color: #515151;
	object-fit: fill;
	object-position: center;
}

.react-calendar {
	@apply w-[300px] max-w-full bg-white leading-tight md:w-[350px];
}
.react-calendar--doubleView {
	@apply w-[700px];
}
.react-calendar--doubleView .react-calendar__viewContainer {
	@apply m-[-0.5em] flex items-center justify-center;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
	@apply m-[0.5em] w-1/2;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.react-calendar button {
	@apply m-0 border-none outline-0;
}
.react-calendar button:enabled:hover {
	@apply cursor-pointer;
}
.react-calendar__navigation {
	@apply mb-[1em] flex h-11 border-b border-dark;
}
.react-calendar__navigation button {
	@apply min-w-[44px] bg-none;
}
.react-calendar__navigation button:disabled {
	@apply bg-[#f0f0f0];
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	@apply rounded-lg bg-[#e6e6e6];
}

.react-calendar__month-view__weekdays {
	@apply text-center text-xs font-bold uppercase;
}
.react-calendar__month-view__weekdays__weekday {
	@apply p-[0.5em] text-tertiary-2;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
	@apply flex items-center justify-center text-xs font-bold;
}
.react-calendar__month-view__days__day--weekend {
	@apply text-[#d10000];
}
.react-calendar__month-view__days__day--neighboringMonth {
	@apply text-neutral-40;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
	@apply py-[2em] px-[0.5em];
}
.react-calendar__tile {
	@apply max-w-full bg-none py-[10px] px-[6.6667px] text-center font-semibold leading-4;
}
.react-calendar__tile:disabled {
	@apply bg-[#f0f0f0];
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	@apply rounded-lg bg-[#e6e6e6];
}
.react-calendar__tile--now {
	@apply rounded-lg bg-primary-violet text-white;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	@apply rounded-lg bg-primary-violet text-white;
}
.react-calendar__tile--hasActive {
	@apply bg-[#76baff];
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
	@apply bg-[#a9d4ff];
}
.react-calendar__tile--active {
	@apply bg-[#006edc] text-white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	@apply bg-[#1087ff];
}
.react-calendar--selectRange .react-calendar__tile--hover {
	@apply bg-[#e6e6e6];
}
